* {
   margin: 0;
   padding: 0; 
}

body {
    background: rgb(24, 22, 22);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

li {
    display: inline-block;
}

li a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 32px;
    padding: 0 20px;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(255, 12, 77);
    transition: width .5s;
}

.cool-link:hover:after {
    width: 100%;
    transition: width .5s;
}
